.header
    padding 2u 3u
    background-color $UI.colors.dark
    +tablet()
        padding 2u 6u

.logo
    color $UI.colors.white
    font(xxl)
    +tablet()
        font(xxxl)
    +desktop()
        font(xxxxl)

.body
    padding 0 3u
    +tablet()
        padding 0 6u